@import "tailwindcss";
@plugin "daisyui";

body {
  margin: 0;
  padding: 0;
  width: 380px;
  min-height: 500px;
  font-family: system-ui, -apple-system, sans-serif;
}

#popup-root {
  width: 100%;
  height: 100%;
}
